.col-md-12
  .summary
    .title= publicacion.titulo
    .author= publicacion.autor
    .summary-text= simple_format truncate(publicacion.texto, length: 500, separator: " ")
    .pull-right
      = link_to "Leer cuento completo", [publicacion.autor, publicacion], class: "btn btn-primary"
    .clearfix
