.row
  .publicaciones
    %ul.resumenes
      - @publicaciones.each do |publicacion|
        %li.col-lg-5
          =link_to(publicacion, class: 'resumen') do
            .titulo= publicacion.titulo
            .autor= publicacion.autor
            %br/
            .inicio= simple_format truncate(publicacion.texto, length: 500)
