.row
  .span12.publicaciones_thumbnail
    %ul.thumbnails

      - @publicaciones.each do |publicacion|
        %li.span6
          .thumbnail
            .titulo= publicacion.titulo
            .autor= publicacion.autor
            %br/
            .resumen= simple_format truncate(publicacion.texto, length: 500)
            .ver_mas= link_to 'Leer completo', publicacion_path(publicacion)
