- content_for :title, @publicacion.titulo
- content_for :author, @publicacion.autor

%article
  %h1.title= @publicacion.titulo
  %h2.author= @publicacion.autor

  .content= simple_format @publicacion.texto
