<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_publicacion.nombre %>
</p>

<%= link_to 'Editar', edit_tipo_publicacion_path(@tipo_publicacion) %> |
<%= link_to 'Listado', tipos_publicaciones_path %>
