%h1 Listado de Autores
- if @autores.any?
  %table.table
    %thead
      %tr
        %th Nombre
        %th
    %tbody
      - @autores.each do |autor|
        %tr
          %td= autor.nombre
          %td
            = link_to 'Ver cuentos', autor_publicaciones_path(autor), class: "btn btn-primary float-right"
- else
  %div
    %h3 No se encontraron Autores
