%h1 Listado de Autores
- if @autores.any?
  %table.table
    %thead
      %tr
        %th Nombre
        %th
        %th
        %th
    %tbody
      - @autores.each do |autor|
        %tr
          %td= autor.nombre
          %td= link_to 'Ver cuentos', publicaciones_path(autor_id: autor), class: "btn btn-primary"
- else
  %div
    %h3 No se encontraron Autores
